
<%= render "stripe", amount: "500", label: "Supporter: $5" %>
<%= render "stripe", amount: "1000", label: "Patron: $10" %>
<%= render "stripe", amount: "2000", label: "Friend: $20" %>

<h1> Hello World </h1>

<ul class="article-box">
<% @articles.each do |article| %>
    <li id="blogpost-<%= article.id %>"> <%= article.title %> </li>
    <% end %>
  </ul>
