
<div class="col-md-6 col-md-offset-1">
</div>
               </div>
           </div>
       </section>
       <section id="content-3-4" class="content-block content-3-4">
           <div class="container">
               <div class="row">
                   <div class="col-md-7" id="about">
                       <img class="img-responsive img-rounded mission-photo" src="http://ucblibraries.colorado.edu/science/images/ScienceLibraryWorkstations.jpg">
                       <h2>Our Mission</h2>
                       <p>The Friends of the West Bridgewater Library is a 503© non-profit volunteer organization. Our mission is to promote community support for the priorities, programs, and activities of the library. Your membership enables the Friends of the Library to provide the community with children’s events and adult cultural programs not in the library’s annual operating budget.</p>
                       <div>
                           <h2> Our Programs </h2>
                           <p> <a href="http://www.rif.org"> Reading Is Fundamental (RIF) </a> &#8211; a Kindergarten through 5<sup>th</sup> grade children’s literacy program </p>
                           <p> Children&#8217;s Summer Reading Programs. <a href="http://www.eventkeeper.com/code/events.cfm?curOrg=WBPL" target="_blank">View calendar</a></p>
                           <p>Museum Passes:</p>
                           <ul>
                               <li>Museum of Science, Boston (
                                   <a href="http://www.mos.org" target="_blank">mos.org</a>)
                               </li>
                               <li>Museum of Fine Arts, Boston (
                                   <a href="http://mfa.org" target="_blank">mfa.org</a>)
                               </li>
                               <li>Children&#8217;s Museum in Easton (
                                   <a href="http://www.childrensmuseumineaston.org" target="_blank">childrensmuseumineaston.org</a>)
                               </li>
                               <li>Boston By Foot walking tours (
                                   <a href="http://bostonbyfoot.org" target="_blank">bostonbyfoot.org</a>)
                               </li>
                               <li>Roger Williams Zoo (
                                   <a href="http://www.rwpzoo.org" target="_blank">rwpzoo.org)</a>
                               </li>
                               <li>Mass Parks parking pass (
                                   <a href="http://www.mass.gov/eea/agencies/dcr/massparks/passes-and-fees/parking-fees.html" target="_blank">parking savings</a>)
                               </li>
                           </ul>
                       </div>
                   </div>

                   <div class="col-md-4 col-md-offset-1">
                       <h2>Upcoming Events</h2>
                       <% @events.each do |event| %>
                       <div class="event"> <%= event.event_date.strftime("%m/%d") %> </div>
                       <div class="eventdesc">
                           <div id="event-<%= event.id %>" class="eventdesc2"><a class="whitelink" href="/events/<%= event.id %>"><h5> <%= truncate(event.name, length: 25) %> </h5></a>
                             <%= event.event_date.strftime("%I:%M%p") %> <br>
                             <%= truncate(event.description, length: 25) %>

                           </div>
                       </div>
                       <% end %>

                       <div class="shelf">
                       </div>
                   </div>
                   <!-- /.column -->
               </div>
               <!-- /.row -->
           </div>
           <!-- /.container -->
       </section>
       <section id="content-2-9" class="content-2-9">
           <h2 id="blogtitle"><i class="fa fa-arrow-circle-down"></i> Fresh from the blog press!</h2>
           <div class="project-wrapper">

             <% @articles.each do |article| %>
               <div id="blogpost-<%= article.id %>" class="col-md-3 col-sm-6 project">
                   <div class="background-image-holder">
                       <img class="background-image" alt="Background Image" src="<%= article.image_url %>">
                   </div>
                   <div class="hover-state">
                       <div class="align-vertical">
                           <h3> <%= article.title %> </h3>
                           <p> <%= article.category %> </p>
                           <%= link_to "Read Me", article, class:"btn btn-outline outline-light" %>
                       </div>
                   </div>
               </div>
               <% end %>
           </div>
       </section>
